<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"] - AsposePDF</title>
    <link href="https://unpkg.com/tailwindcss@@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    @RenderSection("Scripts",false)
</body>
</html>