
#app{
    min-height:100vh;
}
textarea::-webkit-scrollbar{
    width:0.5rem;
}


textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: #68d391;
    outline: 1px solid #68d391;
    border-radius: 4px;
    cursor:pointer !important;
}

[v-cloak]{
    display:none;
}

.banner {
    /*    background: linear-gradient( #2b6cb0,#ebf8ff);*/
    background: linear-gradient(#805ad5,#faf5ff)
}

.banner__marker{
    transition:left 0.3s;
}
.banner__marker::before {
    width: 5rem;
    position: absolute;
    content: "";
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #d6bcfa;
    margin-top: -10px;
    border-radius: 2px;
}

.slide-up-enter-active,
.slide-up-leave-active,
.slide-up-opp-enter-active,
.slide-up-opp-leave-active {
    transition: all 0.3s;
}

.slide-up-enter,
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(45rem);
}

.slide-up-opp-enter,
.slide-up-opp-leave-to {
    opacity: 0;
    transform: translateY(-15rem);
}

.records-enter-active,
.records-leave-active{
    transition:all 0.3s;
}

.records-enter,
.records-leave-to{
   opacity:0;
   transform:translateX(2rem);
}


