@{
}
<div class="border border-success p-2">
    <h4 class="display-6" style="color:var(--gray-dark)">User Claims Data</h4>    
    <table class="table  table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Type</th>
                <th>Value</th>            
            </tr>
        </thead>
        
        <tbody>
            @foreach (var record in User.Claims.Where(cl=>cl.Type!="aio"))
            {
                <tr>
                    <td>@record.Type</td>
                    <td>@record.Value</td>                
                </tr>
            }
        </tbody>
        
    </table>
</div>