@using ClientApp.models
@model IEnumerable<WeatherForecast>
@{
}
<div class="border border-success p-2">
    <h4 class="display-6" style="color:var(--gray-dark)">Weather Forecast Api Data</h4>    
    @if(Model!=null && Model.Count()>0){
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Summary</th>
                    <th>Temperature (F)</th>
                    <th>Date</th>
                </tr>
            </thead>
        
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td>@record.Summary</td>
                        <td>@record.TemperatureF</td>
                        <td>@record.Date.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
            
        </table>
    }
    <a class="btn btn-outline-primary" href="?refresh=true">Fetch/Refresh Data</a>
</div>