@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-lg text-pink-600  font-semibold">@ViewData["Title"]</h1>

<p class="py-1 px-3">Use this page to detail your site's privacy policy.</p>
