@page
@model SignOutModel
@{
    ViewData["Title"] = "SignOut";
}
<h1 class="text-lg text-red-600  font-semibold">Sign Out Successful</h1>
<br/>
<a class="appearance-none outline-none p-1 focus:ring-1 focus:ring-gray-700 transition duration-300
                                border border-gray-600 focus:ring-offset-2 focus:ring-offset-white rounded" 
                         asp-page="/Index" >
    Go Back
</a>
