@page
@model MyApp.Namespace.LandingModel
@{
    ViewData["Title"] = "Landing page";
}
<div class="offset-1">
    <h3 class="display-6" style="color:var(--blue)">Hi</h3> 
    <br/>
    <a class="btn btn-success" href="/">Login</a>
</div>