<!DOCTYPE html>
<html lang="en" class="w-full h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - htmx101</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />    
</head>
<body class="w-full h-full">
    <header>
      <nav class="py-2 px-4 shadow bg-white text-center text-indigo-600 text-2xl w-full font-semibold">
            htmx 101
      </nav>
    </header>
   
    <main role="main" class="py-2 px-4 flex flex-col items-center justify-center h-full w-full">
        @RenderBody()
    </main>
   
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
